<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Let's Get Started</title>

    {% load static %}
	<link rel="stylesheet" href={% static 'start_page.css' %}>
   
</head>
<body>
    

    <section>
        <h1>Let's Get Started!</h1>
        <p>Welcome To The World Of Technology</p>
        <p>Click the button below to begin your journey:</p>
        <a href="http://127.0.0.1:8000/base" class="get-started-btn">Get Started</a>
    </section>
</body>
</html>





